body {
    font-family:"Roboto",sans-serif;
    background-color: #FFFFFF ;
    color: #434455;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

/* =================== HEADER ============== */
.header {}

.header-nav {
    
}

.header-logo {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.header-studio{
    color: #2E2F42;
}
.header-list {}

.header-item {}

.header-link {}

.header-contact {}

.contact-list {}

.contact-item {}

.contact-link {}